.dashboard-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  background: #fff;
  color: #6c757d;
  font-size: 12px;

  border-top: 1px solid #eee;

  /* shadow */
  box-shadow: 0 -2px 8px rgba(0,0,0,0.05);
}

.footer-center {
  font-weight: 500;
  color: #495057;
}